In [19]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
#2010

In [20]:
df_2010 = pd.read_csv('2010.csv', encoding= 'cp1252')

In [21]:
list_columns = list(df_2010.columns)
list_columns

['HistoricalReservationID',
 'OrderNumber',
 'Agency',
 'OrgID',
 'CodeHierarchy',
 'RegionCode',
 'RegionDescription',
 'ParentLocationID',
 'ParentLocation',
 'LegacyFacilityID',
 'Park',
 'SiteType',
 'UseType',
 'ProductID',
 'EntityType',
 'EntityID',
 'FacilityID',
 'FacilityZIP',
 'FacilityState',
 'FacilityLongitude',
 'FacilityLatitude',
 'CustomerZIP',
 'CustomerState',
 'CustomerCountry',
 'Tax',
 'UseFee',
 'TranFee',
 'AttrFee',
 'TotalBeforeTax',
 'TotalPaid',
 'StartDate',
 'EndDate',
 'OrderDate',
 'NumberOfPeople',
 'Tent',
 'Popup',
 'Trailer',
 'RVMotorhome',
 'Boat',
 'HorseTrailer',
 'Car',
 'FifthWheel',
 'Van',
 'CanoeKayak',
 'BoatTrailer',
 'Motorcycle',
 'Truck',
 'Bus',
 'Bicycle',
 'Snowmobile',
 'OffRoadlAllTerrainVehicle',
 'PowerBoat',
 'PickupCamper',
 'LargeTentOver9x12',
 'SmallTent',
 'Marinaboat']

In [22]:
select_columns = ['OrderNumber', 'Park', 'SiteType', 'FacilityID', 'FacilityState', 'StartDate', 'EndDate', 'NumberOfPeople']
new_df10 = df_2010.loc[:, select_columns]

In [23]:
filter_10CO = new_df10[new_df10['FacilityState'] == 'CO']
filter_10CO.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
83,2-13888626,GLACIER BASIN CAMPGROUND,GROUP TENT ONLY AREA NONELECTRIC,232462.0,CO,2010-08-12,2010-08-13,17
143,2-13883425,BOGAN FLATS CAMPGROUND GRP S,STANDARD NONELECTRIC,232158.0,CO,2010-09-03,2010-09-06,6
257,2-13884441,BELLAIRE LAKE CAMPGROUND,STANDARD ELECTRIC,233137.0,CO,2010-08-24,2010-08-27,2
364,2-13887874,GLACIER BASIN CAMPGROUND,STANDARD NONELECTRIC,232462.0,CO,2010-08-07,2010-08-08,1
391,2-13887885,BUFFALO CAMPGROUND,STANDARD NONELECTRIC,231875.0,CO,2010-08-13,2010-08-15,6

In [24]:
list(filter_10CO['SiteType'])

['GROUP TENT ONLY AREA NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'RV ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'RV ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'RV ELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'GROUP STANDARD AREA NONELECTRIC',
 'STANDARD NONELECTRIC',
 'CABIN ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'GROUP STANDARD AREA NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'WALK TO',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'CABIN NONELECTRIC',
 'STANDARD NONELECTRIC',
 'GROUP STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'RV ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'RV ELECTRIC',
 'RV ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'GROUP STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'CABIN NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'RV ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'EQUESTRIAN NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV ELECTRIC',
 'STANDARD NONELECTRIC',
 'GROUP STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'CABIN ELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'RV NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'CABIN ELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'GROUP STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'GROUP STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'CABIN NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'GROUP STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD ELECTRIC',
 'GROUP WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'GROUP TENT ONLY AREA NONELECTRIC',
 'GROUP TENT ONLY AREA NONELECTRIC',
 'GROUP TENT ONLY AREA NONELECTRIC',
 'GROUP TENT ONLY AREA NONELECTRIC',
 'GROUP TENT ONLY AREA NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'WALK TO',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'RV NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'GROUP STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'WALK TO',
 'WALK TO',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'GROUP PICNIC AREA',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'TENT ONLY NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'CABIN ELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD ELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'TENT ONLY NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',
 'STANDARD NONELECTRIC',

In [25]:
site10list = ['CABIN ELECTRIC', 'CABIN NONELECTRIC', 'EQUESTRIAN NONELECTRIC', 'GROUP PICNIC AREA', 'GROUP SHELTER ELECTRIC',
            'GROUP SHELTER NONELECTRIC', 'GROUP STANDARD AREA NONELECTRIC', 'GROUP STANDARD ELECTRIC', 'GROUP STANDARD NONELECTRIC',
            'GROUP TENT ONLY AREA NONELECTRIC', 'GROUP WALK TO', 'LOOKOUT', 'RV ELECTRIC', 'STANDARD ELECTRIC', 'STANDARD NONELECTRIC', 
            'TENT ONLY NONELECTRIC', 'WALK TO']
return10 = filter_10CO[filter_10CO['SiteType'].isin(site10list)]
return10.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
83,2-13888626,GLACIER BASIN CAMPGROUND,GROUP TENT ONLY AREA NONELECTRIC,232462.0,CO,2010-08-12,2010-08-13,17
143,2-13883425,BOGAN FLATS CAMPGROUND GRP S,STANDARD NONELECTRIC,232158.0,CO,2010-09-03,2010-09-06,6
257,2-13884441,BELLAIRE LAKE CAMPGROUND,STANDARD ELECTRIC,233137.0,CO,2010-08-24,2010-08-27,2
364,2-13887874,GLACIER BASIN CAMPGROUND,STANDARD NONELECTRIC,232462.0,CO,2010-08-07,2010-08-08,1
391,2-13887885,BUFFALO CAMPGROUND,STANDARD NONELECTRIC,231875.0,CO,2010-08-13,2010-08-15,6

In [26]:
check = return10[return10['SiteType'] == 'Combo Tour']
check

Empty DataFrame
Columns: [OrderNumber, Park, SiteType, FacilityID, FacilityState, StartDate, EndDate, NumberOfPeople]
Index: []

In [27]:
return10.to_csv('clean_res10', index=False, header=True)

In [ ]:
#2011

In [28]:
df_2011 = pd.read_csv('2011.csv', encoding= 'cp1252')

In [29]:
list_columns = list(df_2011.columns)
list_columns

['HistoricalReservationID',
 'OrderNumber',
 'Agency',
 'OrgID',
 'CodeHierarchy',
 'RegionCode',
 'RegionDescription',
 'ParentLocationID',
 'ParentLocation',
 'LegacyFacilityID',
 'Park',
 'SiteType',
 'UseType',
 'ProductID',
 'EntityType',
 'EntityID',
 'FacilityID',
 'FacilityZIP',
 'FacilityState',
 'FacilityLongitude',
 'FacilityLatitude',
 'CustomerZIP',
 'CustomerState',
 'CustomerCountry',
 'Tax',
 'UseFee',
 'TranFee',
 'AttrFee',
 'TotalBeforeTax',
 'TotalPaid',
 'StartDate',
 'EndDate',
 'OrderDate',
 'NumberOfPeople',
 'Tent',
 'Popup',
 'Trailer',
 'RVMotorhome',
 'Boat',
 'HorseTrailer',
 'Car',
 'FifthWheel',
 'Van',
 'CanoeKayak',
 'BoatTrailer',
 'Motorcycle',
 'Truck',
 'Bus',
 'Bicycle',
 'Snowmobile',
 'OffRoadlAllTerrainVehicle',
 'PowerBoat',
 'PickupCamper',
 'LargeTentOver9x12',
 'SmallTent',
 'Marinaboat']

In [32]:
select_columns = ['OrderNumber', 'Park', 'SiteType', 'FacilityID', 'FacilityState', 'StartDate', 'EndDate', 'NumberOfPeople']
new_df11 = df_2011.loc[:, select_columns]

In [41]:
filter_11CO = new_df11[new_df11['FacilityState'] == 'CO']
filter_11CO.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
15,2-15427532,VALLECITO CAMPGROUND,STANDARD ELECTRIC,234648.0,CO,2011-07-15,2011-07-23,2
26,2-15425949,OLIVE RIDGE,STANDARD NONELECTRIC,232281.0,CO,2011-09-02,2011-09-05,5
34,2-15425957,Black Canyon of the Gunnison NP South Rim Camp...,STANDARD ELECTRIC,234052.0,CO,2011-08-06,2011-08-14,5
96,2-15426765,MORAINE PARK CAMPGROUND,TENT ONLY NONELECTRIC,232463.0,CO,2011-09-03,2011-09-04,4
106,2-15426303,Black Canyon of the Gunnison NP South Rim Camp...,STANDARD NONELECTRIC,234052.0,CO,2011-09-02,2011-09-04,2

In [42]:
site11list = ['CABIN ELECTRIC', 'CABIN NONELECTRIC', 'EQUESTRIAN NONELECTRIC', 'GROUP PICNIC AREA', 'GROUP SHELTER ELECTRIC',
            'GROUP SHELTER NONELECTRIC', 'GROUP STANDARD AREA NONELECTRIC', 'GROUP STANDARD ELECTRIC', 'GROUP STANDARD NONELECTRIC',
            'GROUP TENT ONLY AREA NONELECTRIC', 'GROUP WALK TO', 'LOOKOUT', 'RV ELECTRIC', 'STANDARD ELECTRIC', 'STANDARD NONELECTRIC', 
            'TENT ONLY NONELECTRIC', 'WALK TO']
return11 = filter_11CO[filter_11CO['SiteType'].isin(site11list)]
return11.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
15,2-15427532,VALLECITO CAMPGROUND,STANDARD ELECTRIC,234648.0,CO,2011-07-15,2011-07-23,2
26,2-15425949,OLIVE RIDGE,STANDARD NONELECTRIC,232281.0,CO,2011-09-02,2011-09-05,5
34,2-15425957,Black Canyon of the Gunnison NP South Rim Camp...,STANDARD ELECTRIC,234052.0,CO,2011-08-06,2011-08-14,5
96,2-15426765,MORAINE PARK CAMPGROUND,TENT ONLY NONELECTRIC,232463.0,CO,2011-09-03,2011-09-04,4
106,2-15426303,Black Canyon of the Gunnison NP South Rim Camp...,STANDARD NONELECTRIC,234052.0,CO,2011-09-02,2011-09-04,2

In [43]:
check = return11[return11['SiteType'] == 'Combo Tour']
check

Empty DataFrame
Columns: [OrderNumber, Park, SiteType, FacilityID, FacilityState, StartDate, EndDate, NumberOfPeople]
Index: []

In [44]:
return11.to_csv('clean_res11', index=False, header=True)

In [45]:
#2012

In [46]:
df_2012 = pd.read_csv('2012.csv', encoding= 'cp1252')

In [47]:
list_columns = list(df_2012.columns)
list_columns

['HistoricalReservationID',
 'OrderNumber',
 'Agency',
 'OrgID',
 'CodeHierarchy',
 'RegionCode',
 'RegionDescription',
 'ParentLocationID',
 'ParentLocation',
 'LegacyFacilityID',
 'Park',
 'SiteType',
 'UseType',
 'ProductID',
 'EntityType',
 'EntityID',
 'FacilityID',
 'FacilityZIP',
 'FacilityState',
 'FacilityLongitude',
 'FacilityLatitude',
 'CustomerZIP',
 'CustomerState',
 'CustomerCountry',
 'Tax',
 'UseFee',
 'TranFee',
 'AttrFee',
 'TotalBeforeTax',
 'TotalPaid',
 'StartDate',
 'EndDate',
 'OrderDate',
 'NumberOfPeople',
 'Tent',
 'Popup',
 'Trailer',
 'RVMotorhome',
 'Boat',
 'HorseTrailer',
 'Car',
 'FifthWheel',
 'Van',
 'CanoeKayak',
 'BoatTrailer',
 'Motorcycle',
 'Truck',
 'Bus',
 'Bicycle',
 'Snowmobile',
 'OffRoadlAllTerrainVehicle',
 'PowerBoat',
 'PickupCamper',
 'LargeTentOver9x12',
 'SmallTent',
 'Marinaboat']

In [50]:
select_columns = ['OrderNumber', 'Park', 'SiteType', 'FacilityID', 'FacilityState', 'StartDate', 'EndDate', 'NumberOfPeople']
new_df12 = df_2012.loc[:, select_columns]

In [52]:
filter_12CO = new_df12[new_df12['FacilityState'] == 'CO']
filter_12CO.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
57,2-17158611,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,2
58,2-17158612,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,6
59,2-17158613,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,6
60,2-17158614,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,6
133,2-17159250,Pinyon (Pion) Flats Campground,RV NONELECTRIC,234685.0,CO,2012-06-13,2012-06-15,5

In [56]:
site11list = ['CABIN ELECTRIC', 'CABIN NONELECTRIC', 'EQUESTRIAN NONELECTRIC', 'GROUP PICNIC AREA', 'GROUP SHELTER ELECTRIC',
            'GROUP SHELTER NONELECTRIC', 'GROUP STANDARD AREA NONELECTRIC', 'GROUP STANDARD ELECTRIC', 'GROUP STANDARD NONELECTRIC',
            'GROUP TENT ONLY AREA NONELECTRIC', 'GROUP WALK TO', 'LOOKOUT', 'RV ELECTRIC', 'STANDARD ELECTRIC', 'STANDARD NONELECTRIC', 
            'TENT ONLY NONELECTRIC', 'WALK TO']
return12 = filter_12CO[filter_12CO['SiteType'].isin(site11list)]
return12.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
57,2-17158611,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,2
58,2-17158612,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,6
59,2-17158613,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,6
60,2-17158614,HEATON BAY,STANDARD NONELECTRIC,232220.0,CO,2012-08-31,2012-09-03,6
151,2-17159467,MORAINE PARK CAMPGROUND,TENT ONLY NONELECTRIC,232463.0,CO,2012-08-31,2012-09-03,5

In [57]:
check = return12[return12['SiteType'] == 'Combo Tour']
check

Empty DataFrame
Columns: [OrderNumber, Park, SiteType, FacilityID, FacilityState, StartDate, EndDate, NumberOfPeople]
Index: []

In [58]:
return12.to_csv('clean_res12', index=False, header=True)

In [59]:
#2013

In [61]:
df_2013 = pd.read_csv('2013.csv', encoding= 'cp1252')

In [63]:
list_columns = list(df_2013.columns)
list_columns

['HistoricalReservationID',
 'OrderNumber',
 'Agency',
 'OrgID',
 'CodeHierarchy',
 'RegionCode',
 'RegionDescription',
 'ParentLocationID',
 'ParentLocation',
 'LegacyFacilityID',
 'Park',
 'SiteType',
 'UseType',
 'ProductID',
 'EntityType',
 'EntityID',
 'FacilityID',
 'FacilityZIP',
 'FacilityState',
 'FacilityLongitude',
 'FacilityLatitude',
 'CustomerZIP',
 'CustomerState',
 'CustomerCountry',
 'Tax',
 'UseFee',
 'TranFee',
 'AttrFee',
 'TotalBeforeTax',
 'TotalPaid',
 'StartDate',
 'EndDate',
 'OrderDate',
 'NumberOfPeople',
 'Tent',
 'Popup',
 'Trailer',
 'RVMotorhome',
 'Boat',
 'HorseTrailer',
 'Car',
 'FifthWheel',
 'Van',
 'CanoeKayak',
 'BoatTrailer',
 'Motorcycle',
 'Truck',
 'Bus',
 'Bicycle',
 'Snowmobile',
 'OffRoadlAllTerrainVehicle',
 'PowerBoat',
 'PickupCamper',
 'LargeTentOver9x12',
 'SmallTent',
 'Marinaboat']

In [64]:
select_columns = ['OrderNumber', 'Park', 'SiteType', 'FacilityID', 'FacilityState', 'StartDate', 'EndDate', 'NumberOfPeople']
new_df13 = df_2013.loc[:, select_columns]

In [65]:
filter_13CO = new_df13[new_df13['FacilityState'] == 'CO']
filter_13CO.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
94,2-25185154,PRINTER BOY,GROUP STANDARD NONELECTRIC,232086.0,CO,2013-07-02,2013-07-06,35
545,2-25326445,LA VISTA CAMPGROUND - LAKE ISABEL,RV ELECTRIC,232066.0,CO,2013-07-02,2013-07-05,4
557,2-25327396,Pinyon (Pion) Flats Campground,STANDARD NONELECTRIC,234685.0,CO,2013-06-12,2013-06-14,4
570,2-25326979,MORAINE PARK CAMPGROUND,TENT ONLY NONELECTRIC,232463.0,CO,2013-05-24,2013-05-26,2
585,2-25326456,WEST FORK CAMPGROUND,STANDARD NONELECTRIC,233268.0,CO,2013-06-29,2013-07-05,2

In [67]:
site11list = ['CABIN ELECTRIC', 'CABIN NONELECTRIC', 'EQUESTRIAN NONELECTRIC', 'GROUP PICNIC AREA', 'GROUP SHELTER ELECTRIC',
            'GROUP SHELTER NONELECTRIC', 'GROUP STANDARD AREA NONELECTRIC', 'GROUP STANDARD ELECTRIC', 'GROUP STANDARD NONELECTRIC',
            'GROUP TENT ONLY AREA NONELECTRIC', 'GROUP WALK TO', 'LOOKOUT', 'RV ELECTRIC', 'STANDARD ELECTRIC', 'STANDARD NONELECTRIC', 
            'TENT ONLY NONELECTRIC', 'WALK TO']
return13 = filter_13CO[filter_13CO['SiteType'].isin(site11list)]
return13.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
94,2-25185154,PRINTER BOY,GROUP STANDARD NONELECTRIC,232086.0,CO,2013-07-02,2013-07-06,35
545,2-25326445,LA VISTA CAMPGROUND - LAKE ISABEL,RV ELECTRIC,232066.0,CO,2013-07-02,2013-07-05,4
557,2-25327396,Pinyon (Pion) Flats Campground,STANDARD NONELECTRIC,234685.0,CO,2013-06-12,2013-06-14,4
570,2-25326979,MORAINE PARK CAMPGROUND,TENT ONLY NONELECTRIC,232463.0,CO,2013-05-24,2013-05-26,2
585,2-25326456,WEST FORK CAMPGROUND,STANDARD NONELECTRIC,233268.0,CO,2013-06-29,2013-07-05,2

In [69]:
check = return13[return13['SiteType'] == 'Combo Tour']
check

Empty DataFrame
Columns: [OrderNumber, Park, SiteType, FacilityID, FacilityState, StartDate, EndDate, NumberOfPeople]
Index: []

In [70]:
return13.to_csv('clean_res13', index=False, header=True)

In [71]:
#2014

In [72]:
df_2014 = pd.read_csv('2014.csv', encoding= 'cp1252')

In [73]:
list_columns = list(df_2014.columns)
list_columns

['HistoricalReservationID',
 'OrderNumber',
 'Agency',
 'OrgID',
 'CodeHierarchy',
 'RegionCode',
 'RegionDescription',
 'ParentLocationID',
 'ParentLocation',
 'LegacyFacilityID',
 'Park',
 'SiteType',
 'UseType',
 'ProductID',
 'EntityType',
 'EntityID',
 'FacilityID',
 'FacilityZIP',
 'FacilityState',
 'FacilityLongitude',
 'FacilityLatitude',
 'CustomerZIP',
 'CustomerState',
 'CustomerCountry',
 'Tax',
 'UseFee',
 'TranFee',
 'AttrFee',
 'TotalBeforeTax',
 'TotalPaid',
 'StartDate',
 'EndDate',
 'OrderDate',
 'NumberOfPeople',
 'Tent',
 'Popup',
 'Trailer',
 'RVMotorhome',
 'Boat',
 'HorseTrailer',
 'Car',
 'FifthWheel',
 'Van',
 'CanoeKayak',
 'BoatTrailer',
 'Motorcycle',
 'Truck',
 'Bus',
 'Bicycle',
 'Snowmobile',
 'OffRoadlAllTerrainVehicle',
 'PowerBoat',
 'PickupCamper',
 'LargeTentOver9x12',
 'SmallTent',
 'Marinaboat']

In [74]:
select_columns = ['OrderNumber', 'Park', 'SiteType', 'FacilityID', 'FacilityState', 'StartDate', 'EndDate', 'NumberOfPeople']
new_df14 = df_2014.loc[:, select_columns]

In [75]:
filter_14CO = new_df14[new_df14['FacilityState'] == 'CO']
filter_14CO.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
16,2-29871859,SPRINGER GULCH,STANDARD NONELECTRIC,233718.0,CO,2014-09-07,2014-09-09,2
29,2-29871867,Pinyon (Pion) Flats Campground,GROUP TENT ONLY AREA NONELECTRIC,234685.0,CO,2014-10-10,2014-10-12,30
56,2-29872914,BELLAIRE LAKE CAMPGROUND,STANDARD ELECTRIC,233137.0,CO,2014-08-30,2014-09-01,4
67,2-29870963,MOUNTAIN PARK,GROUP STANDARD AREA NONELECTRIC,231852.0,CO,2015-08-07,2015-08-10,31
70,2-29870966,MATTERHORN,STANDARD NONELECTRIC,233902.0,CO,2014-08-28,2014-08-29,2

In [76]:
site11list = ['CABIN ELECTRIC', 'CABIN NONELECTRIC', 'EQUESTRIAN NONELECTRIC', 'GROUP PICNIC AREA', 'GROUP SHELTER ELECTRIC',
            'GROUP SHELTER NONELECTRIC', 'GROUP STANDARD AREA NONELECTRIC', 'GROUP STANDARD ELECTRIC', 'GROUP STANDARD NONELECTRIC',
            'GROUP TENT ONLY AREA NONELECTRIC', 'GROUP WALK TO', 'LOOKOUT', 'RV ELECTRIC', 'STANDARD ELECTRIC', 'STANDARD NONELECTRIC', 
            'TENT ONLY NONELECTRIC', 'WALK TO']
return14 = filter_14CO[filter_14CO['SiteType'].isin(site11list)]
return14.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
16,2-29871859,SPRINGER GULCH,STANDARD NONELECTRIC,233718.0,CO,2014-09-07,2014-09-09,2
29,2-29871867,Pinyon (Pion) Flats Campground,GROUP TENT ONLY AREA NONELECTRIC,234685.0,CO,2014-10-10,2014-10-12,30
56,2-29872914,BELLAIRE LAKE CAMPGROUND,STANDARD ELECTRIC,233137.0,CO,2014-08-30,2014-09-01,4
67,2-29870963,MOUNTAIN PARK,GROUP STANDARD AREA NONELECTRIC,231852.0,CO,2015-08-07,2015-08-10,31
70,2-29870966,MATTERHORN,STANDARD NONELECTRIC,233902.0,CO,2014-08-28,2014-08-29,2

In [85]:
check = return14[return14['SiteType'] == 'Combo Tour']
check

Empty DataFrame
Columns: [OrderNumber, Park, SiteType, FacilityID, FacilityState, StartDate, EndDate, NumberOfPeople]
Index: []

In [86]:
return14.to_csv('clean_res14', index=False, header=True)

In [79]:
#2015

In [80]:
df_2015 = pd.read_csv('2015.csv', encoding= 'cp1252')

In [81]:
list_columns = list(df_2015.columns)
list_columns

['HistoricalReservationID',
 'OrderNumber',
 'Agency',
 'OrgID',
 'CodeHierarchy',
 'RegionCode',
 'RegionDescription',
 'ParentLocationID',
 'ParentLocation',
 'LegacyFacilityID',
 'Park',
 'SiteType',
 'UseType',
 'ProductID',
 'EntityType',
 'EntityID',
 'FacilityID',
 'FacilityZIP',
 'FacilityState',
 'FacilityLongitude',
 'FacilityLatitude',
 'CustomerZIP',
 'CustomerState',
 'CustomerCountry',
 'Tax',
 'UseFee',
 'TranFee',
 'AttrFee',
 'TotalBeforeTax',
 'TotalPaid',
 'StartDate',
 'EndDate',
 'OrderDate',
 'NumberOfPeople',
 'Tent',
 'Popup',
 'Trailer',
 'RVMotorhome',
 'Boat',
 'HorseTrailer',
 'Car',
 'FifthWheel',
 'Van',
 'CanoeKayak',
 'BoatTrailer',
 'Motorcycle',
 'Truck',
 'Bus',
 'Bicycle',
 'Snowmobile',
 'OffRoadlAllTerrainVehicle',
 'PowerBoat',
 'PickupCamper',
 'LargeTentOver9x12',
 'SmallTent',
 'Marinaboat']

In [82]:
select_columns = ['OrderNumber', 'Park', 'SiteType', 'FacilityID', 'FacilityState', 'StartDate', 'EndDate', 'NumberOfPeople']
new_df15 = df_2015.loc[:, select_columns]

In [83]:
filter_15CO = new_df15[new_df15['FacilityState'] == 'CO']
filter_15CO.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
15,2-32696144,MORAINE PARK CAMPGROUND,STANDARD NONELECTRIC,232463.0,CO,2015-09-24,2015-09-25,2
100,2-32694054,HAPPY MEADOWS,RV NONELECTRIC,233206.0,CO,2015-09-25,2015-09-27,4
166,2-32695783,MORAINE PARK CAMPGROUND,STANDARD NONELECTRIC,232463.0,CO,2015-09-24,2015-09-25,2
181,2-32695796,MEADOW RIDGE,STANDARD NONELECTRIC,231871.0,CO,2015-09-25,2015-09-27,4
274,2-32695503,MORAINE PARK CAMPGROUND,WALK TO,232463.0,CO,2015-09-21,2015-09-23,1

In [84]:
site11list = ['CABIN ELECTRIC', 'CABIN NONELECTRIC', 'EQUESTRIAN NONELECTRIC', 'GROUP PICNIC AREA', 'GROUP SHELTER ELECTRIC',
            'GROUP SHELTER NONELECTRIC', 'GROUP STANDARD AREA NONELECTRIC', 'GROUP STANDARD ELECTRIC', 'GROUP STANDARD NONELECTRIC',
            'GROUP TENT ONLY AREA NONELECTRIC', 'GROUP WALK TO', 'LOOKOUT', 'RV ELECTRIC', 'STANDARD ELECTRIC', 'STANDARD NONELECTRIC', 
            'TENT ONLY NONELECTRIC', 'WALK TO']
return15 = filter_15CO[filter_15CO['SiteType'].isin(site11list)]
return15.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
15,2-32696144,MORAINE PARK CAMPGROUND,STANDARD NONELECTRIC,232463.0,CO,2015-09-24,2015-09-25,2
166,2-32695783,MORAINE PARK CAMPGROUND,STANDARD NONELECTRIC,232463.0,CO,2015-09-24,2015-09-25,2
181,2-32695796,MEADOW RIDGE,STANDARD NONELECTRIC,231871.0,CO,2015-09-25,2015-09-27,4
274,2-32695503,MORAINE PARK CAMPGROUND,WALK TO,232463.0,CO,2015-09-21,2015-09-23,1
363,2-32695956,MORAINE PARK CAMPGROUND,STANDARD NONELECTRIC,232463.0,CO,2015-09-22,2015-09-23,2

In [87]:
check = return15[return15['SiteType'] == 'Combo Tour']
check

Empty DataFrame
Columns: [OrderNumber, Park, SiteType, FacilityID, FacilityState, StartDate, EndDate, NumberOfPeople]
Index: []

In [88]:
return15.to_csv('clean_res15', index=False, header=True)